{% extends 'base.html' %}
{% block title %}
    Diet no.{{ diet.id }}
{% endblock %}
{% block content %}
    <div class="diet-box">
    <h2 class="p-lower">Diet {{ diet.name }}</h2>
    <p>{{ diet.description }}</p>
    <ul>
        <li>Calories: {{ diet.caloric_demand }} kcal</li>
        <li>Carbs: {{ diet.carbs_demand }} g</li>
        <li>Proteins: {{ diet.protein_demand }} g</li>
        <li>Fats: {{ diet.fat_demand }} g</li>
    </ul>
    <a class="btn btn-outline-dark" href="{% url 'diet-list' %}">To diets list</a>
    </div>
{% endblock %}