{% extends 'base.html' %}

{% block content %}
    <div>
    <h2 class="align-content-center">Exercise list :</h2>
    {% for exercise in pages %}
    <ul>
        <li> <a class="btn btn-info btn-sm btn-link widthe" href="/exercise/{{ exercise.id }}">{{ exercise.name }}</a> </li>
    </ul>
    {% endfor %}
    </div>

    <div>
         {% if pages.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if pages.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ pages.previous_page_number }}"><
                    previous</a></li>
            {% endif %}

            {% for page in pages.paginator.page_range %}
                {% if pages.number == page %}
                    <li class="page-item disabled"><a class="page-link" href="?page={{ page }}"> {{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}"> {{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if pages.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ pages.next_page_number }}">> next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'index' %}" class="btn btn-primary"> Index </a>
    </div>
{% endblock %}