{% extends 'base.html' %}
{% block title %}
    Index
{% endblock %}
{% block content %}
    <h2>Links</h2>
    <ul>
        <li><a class="btn btn-outline-info" href="{% url 'exercise-list' %}">To exercises</a></li>
        <li><a class="btn btn-outline-info" href="{% url 'categories' %}">To categories</a></li>
        <li><a class="btn btn-outline-info" href="{% url 'diet-list' %}">To diets</a></li>
        <li><a class="btn btn-outline-info" href="{% url 'diet-add' %}">Add diet</a></li>
        <li><a class="btn btn-outline-info" href="{% url 'plan-list' %}">To plans</a></li>
        <li><a class="btn btn-outline-info" href="{% url 'plan-add' %}">Add plan</a></li>
        <li><a class="btn btn-outline-info" href="{% url 'login' %}">Login panel</a></li>
        <li><a class="btn btn-outline-info" href="{% url 'register' %}">Register</a></li>
        <li><a class="btn btn-outline-info" href="{% url 'macro-calc' %}">Calculator</a></li>
    </ul>
{% endblock %}