{% extends 'base.html' %}
{% block title %}
    Login page
{% endblock %}
{% block content %}

    {% if error %}
    <h3>{{ error }}</h3>
    {% endif %}
    <div class="form-box">
    <form method="post" class="form-signin">
    <h2 class="form-signin-heading p-lower">Please Log in</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <p class="p-lower">Register <a href="/register">new account</a></p>
        <input type="submit" value="Log in" class="btn btn-lg btn-primary form-control">
    </form>
    </div>
{% endblock %}